.main-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2% 0%;
}
#miFoto{
    width: 90%;
    height: 25vh;
}
.datos{
    display: flex;
    flex-wrap: wrap;
}
.nombre{
}