.padre{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: brown;
}
.container-fluid{
    background-color: aqua;
}
.main-header{
    width: 100%;
}
.main-body{
    width: 90%;
    background-color: white;
}
#banner{
    width: 100%;
    height: 70vh;
}
#logo{
    width: 8%;
}

.imgCar{
    width: 70%;
    height: 50vh;
}